@import "./color_schemes/dark";

$body-background-color: #09090b;
$sidebar-color: #09090b;
$border-color: #27272a;
$body-text-color: #d4d4d8;
$body-heading-color: #fafafa;
$nav-child-link-color: #52525b;
$search-result-preview-color: #52525b;
$link-color: #60a5fa;
$btn-primary-color: #2563eb;
$base-button-color: #18181b;
$search-background-color: #18181b;
$table-background-color: #18181b;
